body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f8f8f8;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    background-color: blue;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: lightseagreen;
}

p {
    font-size: 18px;
    margin-top: 20px;
    color: #333;
}
