header {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
}

footer {
    background-color: lightgray;
    text-align: center;
    padding: 8px;
}
body {
    margin: 0;
    padding: 0;
}

h2, p {
    margin: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111111;
}

img{
    width: 500px;
    height: 450px
}

div.flex-container{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

div.flex-container > div{
    margin: 10px;
    flex: 1;
    border: solid 1pt grey;
    border-radius: 10px;
    padding: 10px;
}
